<table class="footer">
  <tr>
    <td valign="top" class="cel3 bold"><%==Spree.t(:footer_right)%> </td>
    <td valign="top" class="cel4 cell"><%==Spree.t(:footer_right2)%></td>
    <td valign="top" class="cel5 bold"><%==Spree.t(:bank_label)%> </td>
    <td valign="top" class="cel6 cell"><%==Spree.t(:bank_account)%> </td>
  </tr>
</table>

